# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/

cmake-build-debug/

cmake-build-release/

.cyd/

.ccls-cache/
.cache/

cmake-build-debug-clang/
cmake-build-debug-gcc-experimental/
cmake-build-release-gcc-experimental/
